{% extends 'women/base.html' %}

{% block content %}
    <div class="container">
        <h1>Contact</h1>
        <p>If you have any questions or suggestions, please contact us:</p>

        <h2>Email</h2>
        <p><a href="mailto:maksvin1111@gmai.com">maksvin1111@gmai.com</a></p>

        <h2>Social networks</h2>
        <ul>
            <li><a href="https://facebook.com">Facebook</a></li>
            <li><a href="https://twitter.com">Twitter</a></li>
            <li><a href="https://instagram.com">Instagram</a></li>
        </ul>
    </div>
{% endblock %}


